<?php Block::put('breadcrumb') ?>
    <ul>
        <li><a href="<?= Backend::url('offline/mall/products') ?>"><?= e(trans('offline.mall::lang.menu_items.all_products')) ?></a></li>
        <li><?= e($this->pageTitle) ?></li>
    </ul>
<?php Block::endPut() ?>

<?php if (!$this->fatalError): ?>

    <?php Block::put('form-contents') ?>
        <div class="layout-row">

            <div class="toolbar-widget list-header">
                <div class="control-toolbar">
                    <div class="toolbar-item ">
                        <?php if ($this->user->hasAccess('hounddd.mallimportexport.export')): ?>
                            <a role="button"
                                href="<?= Backend::url('offline/mall/products/export') ?>"
                                class="btn btn-lg btn-success m-t-md p-x">
                                <i class="icon-cloud-download"></i>
                                <?= e(trans('hounddd.mallimportexport::lang.menus.export')) ?>
                            </a>
                        <?php endif ?>
                    </div>
                </div>
            </div>

            <?php
            $requiredFields = '';
            collect(array_where($this->vars['importUploadFormWidget']->model->rules, function ($value, $key) {
                return $value == 'required';
            }))->map(function ($item, $key) use (&$requiredFields) {
                $requiredFields .= '<li>'. trans('hounddd.mallimportexport::lang.columns.'. $key) .'</li>';
            })
            ?>

            <?= $this->makeHintPartial('hint_mall_import', 'hint_import', [
                'title' => trans('hounddd.mallimportexport::lang.import.hint_title'),
                'icon' => 'icon-info',
                'requiredFields' => $requiredFields
            ]) ?>

            <?= $this->importRender() ?>

            <div class="form-buttons">
                <button
                    type="submit"
                    data-control="popup"
                    data-handler="onImportLoadForm"
                    data-keyboard="false"
                    class="btn btn-primary">
                    <?= e(trans('hounddd.mallimportexport::lang.ux.import_button')) ?>
                </button>
            </div>
        </div>
    <?php Block::endPut() ?>


    <?php Block::put('body') ?>
        <?= Form::open(['class'=>'layout stretch']) ?>

            <?= Block::placeholder('form-contents') ?>
            
        <?= Form::close() ?>
    <?php Block::endPut() ?>

<?php else: ?>

    <p class="flash-message static error"><?= e($this->fatalError) ?></p>
    <li><a href="<?= Backend::url('offline/mall/products') ?>"><?= e(trans('hounddd.mallimportexport::lang.ux.return_list')) ?></a></li>

<?php endif ?>

